<div class="row">
  <div class="col-md-12 trend-container">
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <label>Geographic Area</label>
          {{select-2
            content=model.areas
            value=selectedArea
            optionLabelPath="name"
            optionValuePath="code"
            placeholder="Choose an Area"
          }}
        </div>        
      </div>
      <div class="col-sm-5">
        <label>Item</label>
        {{select-2
          content=model.items
          value=selectedItem
          optionLabelPath="name"
          optionValuePath="code"
          placeholder="Choose an Item"
        }}
      </div>
      <div class="col-sm-2">
        <button type="button"
          {{bind-attr class=":go-button :btn :btn-primary goButtonDisabled:disabled" disabled="goButtonDisabled"}}
          {{action 'showSeries'}}>
          GO!
        </button>
      </div>
    </div>
  </div>
</div>
<br />
{{outlet}}
